/*.bleu {
    margin-left: 75%;
    margin-top: 20px;
    max-width: 2500px;
    height: auto;
}*/

.containerv {
    display: flex;
    height: 20vh;
    width: 30px;
    margin: -280px;
    margin-left: 75%;
  }
 
.bleu {
  width: 500px;
  height: auto;
  margin-left: -27%;
}

  
  
  .rightBlock {
    flex: 1;
    background-color: white;
    width: 400px;
  }

.vents {
    flex: 1;
    width: 800px;
    display: flex;
}